.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}
.input1{
  margin-bottom: 5px;
}

label{
  color: red;
}

span{
  text-decoration: underline;
  color: blue;
}