#BallGenerator{
  position: absolute;
  left:30px;
  top:30px;
  background-color: white;
  border: 3px solid #3f8cdd;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  .slidecontainer{
    display: flex;
    flex-direction: column;
  }

  #input-size{
    margin-bottom: 20px;
  }

  .next-ball{
    margin-top: 30px;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
