#icon1 {
    border: none;
    &:hover {
        color: red;
        
       
    }
   

}

#icon2 {
    border: none;
    &:hover {
        color: red;
        
       
    }
   

}

#icon3 {
    border: none;
    &:hover {
        color: red;
        
        
    }
   

}





