.App {
  text-align: center;
}


.App-header {
 // background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.box{
  display: block;
  height: 100px;
  width: 100px;
}

.circle{
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
.farbe-rot{
  background-color: red;
}

.farbe-auto{
  background-color: blue;
  height: 300px;
}

.farbe-gruen{
  background-color: #44ff00;
}

.farbe-lieblingsfarbe{
  background-color: orange;
}

.invisible{
  opacity: .2;
}