body{
  background: linear-gradient(0, #49454a, #1d1c24);
  color: white;
  font-family: Poppins;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1{
  font-weight: 500;
  font-size: 60px;
  color: #f9413f;
}
h2{
  font-weight: 400;
  font-size: 16px;
  color: white;
}
main{
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
img{
  max-width: 100%;
  max-height: 100%;
}
header{
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  width: 1200px;
}
#buttons{
  display: flex;
  align-items: center;
}
#buttons .btn{
  margin: 0 5px;
}

.btn.sort-by{
  opacity: .6;
}
.btn.sort-by.active{
  opacity: 1;
}

.sort-by-container{
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.sort-by-container span{
  margin-right: 3px;
}

section{
  margin-bottom: 100px;
}
.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 50px;
  row-gap: 50px;
  grid-column-gap: 50px;
  column-gap: 50px;
  max-width: 100%;
}

.card{
  display: flex;
  flex-direction: column;
  background: #1d1c24;
  width: 100%;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.card.visible{
  opacity: 1;
}

.card:nth-of-type(1){transition-delay: .1s;}
.card:nth-of-type(2){transition-delay: .2s;}
.card:nth-of-type(3){transition-delay: .3s;}
.card:nth-of-type(4){transition-delay: .4s;}
.card:nth-of-type(5){transition-delay: .5s;}
.card:nth-of-type(6){transition-delay: .6s;}
.card:nth-of-type(7){transition-delay: .7s;}
.card:nth-of-type(8){transition-delay: .8s;}
.card:nth-of-type(9){transition-delay: .9s;}
.card:nth-of-type(10){transition-delay: 1s;}



.card .content{
  padding: 30px;
  flex-grow: 1;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.card .name{
  font-size: 20px;
  font-weight: 500;
  display: block;
}
.card .meta{
  display: block;
  font-size: 14px;
  color: grey;
  margin-bottom: 18px;
}

.card .sport{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #f9413f;
}
.card .sport span:nth-of-type(2){
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
}

.card .link{
  margin-top: 18px;
}


.btn{
  text-decoration: none;
  color: #f9413f;
  background: transparent;
  border: 2px solid #f9413f;
  border-radius: 3px;
  padding: 4px 12px;
  display: inline-block;
  transition: all .3s ease-in-out;
  font-size: 14px;
  cursor: pointer;
}

.btn:hover{
  background: #f9413f;
  color: #1d1c24;
}

.card .net{
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.card .honors{
  display: flex;
  flex-direction: column;
}
.card .img{
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.card .img img{
  object-fit: cover;
  width: 100%;
  object-position: top center;
  min-height: 100%;
}

